<div
  style="width: 500px; display: flex; border: 3px solid black; box-shadow: 0 0 10px 5px black;"
>
  <h1>Kenzie Market</h1>
  <h2>Dados da compra:</h2>
  <div>
    <h3 style="text-align: center;">total: {{total}}</h3>
  </div>
</div>
