<div
  style="width: 500px; display: flex; flex-direction: row; justify-content: center; align-items: center; border: 2px solid black; box-shadow: 0 0 10px 5px black;"
>
  <h1>Kenzie Market</h1>
  <h2>Seu código de recuperação:</h2>
  <div
    style="padding: 10px; background-color: dimgray; width: 80%; margin-bottom: 10px;"
  >
    <h3 style="background-color: dimgray; text-align: center;">{{code}}</h3>
  </div>
</div>
